
.sections-nav ul {
	display: flex;
	padding: 10px 0;
}

.sections-nav li {
	margin: 0 10px;
  
  cursor: pointer;
}

.sections-nav li:hover:not(:last-child) {
	background-color: $light-gray;
}

.sections-nav a {
	text-transform: uppercase;
	font-size: 10px;
}

@media all and (max-width: 1000px) {
  .sections-nav {
  	display: none;
  }
}