/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .nav-bar{
     display: flex;
     justify-content: space-between;
     background-color: #F7BF4D;
     color: white;
     padding-top: 30px;
     padding-bottom: 30px;
     width: 100%;
     margin: 0px;    
 }

  .footer-bar{
    position: absolute;
     display: flex;
     justify-content: space-between;
     background-color: #F7BF4D;
     color: white;
     padding-top: 30px;
     padding-bottom: 30px;
     width: 100%;
     margin: 0px;
     bottom:0px;
     
 }
.page-container{
    position:relative;
    min-height:750px;
}
 .frontpage{
     height: 300px;
     width: 100%;
 }
 .home{
     background-color: orange;
     height: 600px;
     width: 100%;
     font: sans-serif;
     
 }

 .intro{
     float:left;
     padding-right: 50px;
     text-align: center;
     color: orange;
     font-size: 30px;
     font-weight: bold;
 }
  .introl{
     float:left;
     padding-left: 250px;
     padding-right: 50px;
     text-align: center;
     color: orange;
     font-size: 30px;
     font-weight: bold;
 }
 .intro1{
     float:left;
     padding-right: 30px;
     text-align: center;
     font-size: 20px;  
     margin-top: -15px;
 }
 .intro1l{
     float:left;
     padding-left: 250px;
     padding-right: 30px;
     text-align: center;
     font-size: 20px;  
     margin-top: -15px;
 }
 .nav-right{
     display:flex;
     margin: 0px;
 }
 body{
     margin: 0px;
 }
 .btn{
     color: white;
     text-decoration: none;
     padding-right: 20px;
     font-size: 20px;
 }
 .btn:hover{
     cursor: pointer;
 }

.btn-logout{
     margin-right:30px;
     height: 30px;
 }
 .btn-logout:hover{
     cursor: pointer;
     
     
 }

 .home{
background-size: cover;
 }

 .welcome{
     padding-right: 40px;
 }

 .logo{
     color: white;
     font-size: 25px;
     text-decoration: none;
     padding-left: 200px;
 }
 .logo:hover{
    cursor: pointer;
 }

 .session-form{
     display: block;
     text-align: center;
     background-color:#f9f6e7;
     height:100%;
 }

 .sessionbtn{
     width:625px;
     color: white;
     background-color: #eb652f;
     font-family: sans-serif;
     height: 60px;
     font-size:20px;
     border:2px;
     border-radius:10px;
     position: relative;
 }

.session-form-sign{
    text-align: left;
    height: 40px;
    width: 600px;
    padding: 10px;
    

}
form{
 display: flex;
 flex-direction: column;
 align-items: center;   
 border: grey;
}

 .session-form h2{
     color: #FF8C00;
 }
 



.events-title{
    text-align: center;
    text-transform: uppercase;
    color: white;
    
    font-family: sans-serif;

}

.events-title h2 {
font-size: 45px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.events-title  {
font-size: 18px;
}

.events-body-container{
    min-width: 100px;
.events-body{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 70px;
    }
.events-body h3{
    color: #EF6236;
    font-size: 24px;
    font-family: sans-serif;
    height: 34px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;}
.events-body p{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #333333;
    line-height: 1.6;
    margin-top:15px;
}

}

.events-container{
    background-color: #f9f6e7;
    min-height: 2300px;
    width: 90%;
}

.cities-container {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: auto;
  display: flex;
  padding: 30px;
  right: -200px;
  position: relative;
  list-style-type: none;
  .city{
  border: #f59a7f 2px solid;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EF6236;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-style: sans-serif;
  border-radius: 10px;
}
}


.event-container{
  display: flex;
  flex-wrap: wrap;
    
  ul{
    width: 200px;
    height: 200px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: #FEFEFE;
    border: 1px solid #DDD;
    padding: 10px;
    border-radius: 10px;
  }
  }

.event-box{
  width: 95%;
  height: 80px;
  margin: auto;
  display: flex;
  list-style-type: none;
  
}

.event-time{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  height: 72px;
  font-family: sans-serif;
list-style-type: none;
li{
    font:orange;
}
}
.city-list-container{
width: 65%;
  height: 110px;
  border-top: 1px solid #eda20b;
  margin: auto;
  background-color:#f1e9c6;
  color: #eda20b;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
    .city-list-title{
    
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-family: sans-serif;
}
.city-list{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  .city-list li{
    display: inline;
    padding: 10px 15px;
    margin: 15px;
    border: 1px solid #eda20b;
    background-color: #FAF6E8;
    border-radius: 10px;
  }

  .city-list li:hover{
    background-color: #F7BF4D;
    color: #FAF6E8;

    cursor: pointer;
  }

  .city-list li:visited{
    color: #FAF6E8;

  }
}

.all-container{
    background-color: #f9f6e7;
  height:100%;
}
.loc{
  position:relative;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #929292;
  text-align: left;
  top: 70px;
  right:90px;
  padding: 10px;
  height: 50px;
  min-width: 150px;
  border-bottom: 1px solid #929292;


}
.event-pic{
    width: 100%;
}
.count-button{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #eda20b;
  text-align: center;
  text-transform: uppercase;
  background: #fcebc7;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eda20b;
  border-radius: 4px;
}

.event-signup{
  padding: 15px 10px;
  width: 300px;
  background-color: #eb652f;
  color: white;
  font-size: 14px;
  border-radius: 12px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}

event-signup:hover{
  background-color: #ed501e;
  cursor: pointer;
}

.host-title{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 23px;
  color: #EF6236;
  padding: 10px;
}

.event-blurb{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: sans-serif;
  color: #929292;
  margin:10px;
  line-height: 18px;
}

.event-bio{
  border: solid 1px #929292;
  color: #333333;
  padding: 10px;
  padding-top: 20px;
  background-color: white;
  font-family:#F7BF4D;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;

  h1{
    font-size: 16px;
    font-weight: 600;
  }
}

.event-right{
  margin:auto;
  width: 50%;
  text-align: left;
  list-style-type: none;
}

li {
    list-style-type: none;
}

.event-left{
  text-align: left;
  margin-left: -100px;
}

.event-bg{
    background-color: #f9f6e7;
  height: 1000px
}

.event-container1{
    background-color: #f9f6e7;
  height:100%;
  width: 50%;
  display: flex;
  justify-content: left;
  margin: auto;
}

.event-card-host{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #EF6236;
  text-align:center;
  border-bottom: 1px solid #929292;
  padding-bottom: 10px;
}

.event-card-datetime{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
  margin:10px;
  
}
.event-card-location{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: sans-serif;
  color: #929292;
  margin:10px;
  line-height: 18px;
  
}

.event-card-seats{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  color: #929292;
  text-align: center;
  text-transform: uppercase;
}

.host-image{
    width: 250px;
  text-align: center;
  margin:auto;
  border: 1px solid #929292;
  padding: 10px 10px 60px 10px;
  background: white;
}

.event-data-container{
  width: 300px;
  height: 300px;
  margin-top: 25px;
  
  background-color: #FEFEFE;
  border: 1px solid #DDD;
  padding: 10px;

}

.event-host-container{
  margin-top: -200px;
}